@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap");

* {
    font-family: 'Rubik', sans-serif;
}

/* Tamanhos de fuente y negrita */
:root{
    --font-size-regular-small: 0.75rem;
    --font-size-regular-normal: 1rem;
    --font-size-regular-title: clamp(1.1rem, 1rem + .5vw, 2rem);
    --font-size-regular-title-large: clamp(1.5rem, 1rem + 1vw, 2rem);
    --font-size-bold: clamp(1.25rem, 1rem + 1vw, 2rem);
    --font-fingerprint: clamp(2rem, 1vw + 3.5rem, 6rem);
    --font-weight-thin: 400;
    --font-weight-normal: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
}

/* Estilos para las fuentes principales de tamanhos*/
.fs-normal-sm{
    font-size: var(--font-size-regular-small);
}
.fs-normal{
    font-size: var(--font-size-regular-normal);
}

.fs-normal-md{
    font-size: var(--font-size-regular-title);
}

.fs-icon{
    font-size: 20px;
}

.fs-normal-xl{
    font-size: var(--font-size-regular-title-large);
}

.fs-bold{
    font-size: var(--font-size-bold);
}

/* Estilos de peso */

.fw-thin{
    font-weight: var(--font-weight-thin);
}

.fw-normal{
    font-weight: var(--font-weight-normal);
}

.fw-semibold{
    font-weight: var(--font-weight-semibold);
}

.fw-bold{
    font-weight: var(--font-weight-bold);
}

/* Colores de las fuentes */
.font-light{
    color: var(--font-light);
}

.font-grey{
    color: var(--font-grey);
}

.font-inactive{
    color: var(--icon-inactive);
}

.font-active{
    color: var(--icon-active);
}

.font-dark{
    color: var(--font-dark);
}

.font-name{
    color: var(--font-name);
}

.font-blue{
    color: var(--font-blue);
}

.font-danger{
    color: var(--font-danger);
}

.font-fingerprint {
    font-size: var(--font-fingerprint);
}

.font-fingerprint--login{
    font-size: 80px;
}

.lh-1{
    line-height: normal;
}